<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.MemoryTraining"
        tools:ignore="DiscouragedApi,LockedOrientationActivity"
        tools:targetApi="31">
        <activity
            android:name=".activities.StatisticsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.DetailsTrainingActivity"
            android:exported="false" />
        <activity
            android:name=".activities.PhrasesTrainingActivity"
            android:exported="false" />
        <activity
            android:name=".activities.WordsTrainingActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ShapesTrainingActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ColorsTrainingActivity"
            android:exported="false" />
        <activity
            android:name=".activities.AddImageActivity"
            android:exported="false" />
        <activity
            android:name=".activities.DetailsSettingsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.AddPhrasesCollectionActivity"
            android:exported="false" />
        <activity
            android:name=".activities.PhrasesSettingsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.WordsSettingsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ShapesSettingsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ColorsSettingsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.MahjongSettingsActivity"
            android:exported="false"
            android:theme="@style/Theme.MemoryTraining" />
        <activity
            android:name=".activities.MahjongTrainingActivity"
            android:exported="false" />
        <activity
            android:name=".activities.MainMenuActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>